fastapi==0.101.1
requests==2.31.0
uvicorn==0.23.2
gunicorn==21.2.0
uvloop==0.17.0
httptools==0.6.0
httpx==0.24.1
pytest-mock==3.11.1
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability

starlette>=0.25.0 # not directly required, pinned by Snyk to avoid a vulnerability
