fastapi==0.95.1
requests==2.30.0
uvicorn==0.21.0
gunicorn==20.1.0
uvloop==0.17.0
httptools==0.5.0
httpx==0.23.3
pytest-mock==3.10.0
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability

starlette>=0.25.0 # not directly required, pinned by Snyk to avoid a vulnerability
